{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5 ">
    <h1 class="text-center">
        Champ Downloader
    </h1>
    <h6 class="text-muted text-center">
        The best youtube downloader for single video, audio and playlist
    </h6>

    <div class="container mt-5 text-left">
        <form  class="form-class downloader_form">
            {% csrf_token %}
            <select class="form-select form-select-sm mb-3 py-2 resolution" aria-label=".form-select-sm example">
                <option>Choose your resolution type</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
                <label for="exampleFormControlInput1" class="form-label">Type of Download: </label>
            <div class="form-check  text-left mx-5">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Playlist Download
                </label>
                </div>
                <div class="form-check mb-3 mx-5">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Single Download
                </label>
            </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3"> Start Video Number </span>
                    <input type="number" class="form-control lower_limit" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3"> End Video Number </span>
                    <input type="number" class="form-control upper_limit" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Youtube Link</span>
                    <input type="text" class="form-control url_link" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-block submit_btn">Start Downloading ...</button>
                </div>

            </div>
        </form>
        

    <div class="container spinner_cont my-5">
        <div class="d-flex align-items-center">
            <strong>Downloading videos...</strong>
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
        <div class="container d-none">
            <a href="#"> <span class="d-flex justify-content-center"> <ion-icon name="cloud-download-outline" class="mx-2" size="large"></ion-icon> Click Here to Download the .zip file</span> </a> 
        </div>
    </div>  

</div>
<script src="{% static 'js/app.js' %}"></script>
{% endblock content %}